---
layout: default
permalink: /important_dates
title: Important Dates
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <section id="important" >
        <div class="black-frame about">
            <h2>Important Dates</h2>

            <p>Full Paper Submission Deadline: <b><font color="#8E236B">September 1st, 2021 (AoE)</font></b></p>

            <p>Full Paper Notification: <b><font color="#8E236B">by September 15th, 2021</font></b></p>

            <p>Extended abstracts Submission Deadline: <b><font color="#8E236B">TBD</font></b></p>

            <p> Paper Notification: <b><font color="#8E236B">TBD</font></b></p>
      <!--<h1>{{ page.title }}</h1>-->

        <!--<h2>Day 1</h2>-->
        <!--<table class="agenda">-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th class="row-1 agenda-time"><center>Time</center></th>-->
                    <!--<th class="row-2 agenda-activity"><center>Activity</center></th>  -->
                <!--</tr>-->
            <!--</thead>-->

            <!--{% for agenda in site.data.twenty_17.agendas_1 %}-->
                <!--<tr>-->
                    <!--<td>{{ agenda.time }}</td>-->
                    <!--<td>{{ agenda.info }}</td>-->
                <!--</tr> -->
            <!--{% endfor %}-->
        <!--</table>-->

        <!--<h2>Day 2</h2>-->
        <!--<table class="agenda">-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th class="row-1 agenda-time"><center>Time</center></th>-->
                    <!--<th class="row-2 agenda-activity"><center>Activity</center></th>  -->
                <!--</tr>-->

            <!--</thead>-->

            <!--{% for agenda in site.data.twenty_17.agendas_2 %}-->
                <!--<tr>-->
                    <!--<td>{{ agenda.time }}</td>-->
                    <!--<td>{{ agenda.info }}</td>-->
                <!--</tr> -->
            <!--{% endfor %}-->
        <!--</table>-->
        </div>
    </section>