<!-- Portfolio Grid Section -->
    <section id="abstract" class="bg-light-gray">
        <!--<div class="container">-->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Committee Members</h1>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <script type="text/javascript">
                document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
            </script>
            <div class="black-frame about">
            <h2>Organizing Committee</h2>

                <p>Scott Klasky, Oak Ridge National Laboratory</p>

                <p>Gary Liu, New Jersey Institute of Technology</p>

                <p>Mark Ainsworth, Brown University</p>

                <p>Ian Foster, Argonne National Laboratory/University of Chicago</p>

              <h2>Program Chair</h2>

                <p>Todd Munson, Argonne National Laboratory</p>

              <h2>Technical Program Committee (tentative)</h2>

                <p>Frank Cappello, Argonne National Laboratory</p>

                <p>Peter Lindstrom, Lawrence Livermore National Laboratory</p>

                <p>Todd Munson, Argonne National Laboratory</p>

                <p>John Wu, Lawrence Berkeley National Laboratory</p>

                <p>Todd Munson, Argonne National Laboratory</p>

                <p>Martin Burtscher, Texas State University</p>

                <p>Dan Huang, Sun Yat-sen University</p>

                <p>Haihang You, Institute of Computing Technology, Chinese Academy of Sciences</p>

                <p>Xubin He, Temple University</p>

                <p>Dingwen Tao, Washington State University</p>

                <p>Xin Liang, Missouri University of Science and Technology</p>

                <p>Ben Whitney, Oak Ridge National Laboratory</p>

                <p>Sheng Di, Argonne National Laboratory</p>

                <p>Allison Baker, NCAR</p>

                <p>Dorit M. Hammerling, Colorado School of Mines</p>
            <!--<div class="row">-->
            <!--{% for team in site.data.twenty_17.teams %}-->
                <!--<div class="col-md-4 col-sm-6 speakers-item">-->
                    <!--<a href="#{{ team.name }}" class="speakers-link" data-toggle="modal">-->
                        <!--<div class="speakers-hover">-->
                            <!--<div class="speakers-hover-content">-->
                                <!--<i class="fa fa-plus fa-3x"></i>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<img src="../css/2017_style/img/team/{{ team.thumbnail }}" class="img-responsive img-centered" alt="">-->
                    <!--</a>-->
                    <!--<div class="speakers-caption">-->
                        <!--<h4>aaaaaaaaaa</h4>-->
                        <!--<p class="text-muted">{{ team.subtitle }}</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--{% endfor %}-->
            <!--</div>-->
            </div>
        <!--</div>-->
    </section>