<!-- Portfolio Grid Section -->
    <section id="abstract" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Abstract</h2>
                    <h4 class="section-subheading text-muted"></h4>
                </div>
            </div>
            <p>A growing disparity between simulation speeds and I/O rates makes it increasingly infeasible for high-performance applications to save all results for offline analysis. By 2024, computers are expected to compute at 1018 ops/sec but write to disk only at 1012 bytes/sec: a compute-to-output ratio 200 times worse than on the first petascale systems. In this new world, applications must increasingly perform online data analysis and reduction—tasks that introduce algorithmic, implementation, and programming model challenges that are unfamiliar to many scientists and that have major implications for the design of various elements of exascale systems.</p>

            <p>This trend has spurred interest in high-performance online data analysis and reduction methods, motivated by a desire to conserve I/O bandwidth, storage, and/or power; increase accuracy of data analysis results; and/or make optimal use of parallel platforms, among other factors.  This requires our community to understand a clear yet complex relationships between application design, data analysis and reduction methods, programming models, system software, hardware, and other elements of a next-generation High Performance Computer, particularly given constraints such as applicability, fidelity, performance portability, and power efficiency.</p>

            <p>There are at least three important topics that our community is striving to answer: (1) whether several orders of magnitude of data reduction is possible for exascale sciences; (2) understanding the performance and accuracy trade-off of data reduction; and (3) solutions to effectively reduce data while preserving the information hidden in large scientific data.  Tackling these challenges requires expertise from computer science, mathematics, and application domains to study the problem holistically, and develop solutions and hardened software tools that can be used by production applications.</p>

            <p>The goal of this workshop is to provide a focused venue for researchers in all aspects of data reduction and analysis to present their research results, exchange ideas, identify new research directions, and foster new collaborations within the community.</p>

            <p>Topics of interest include but are not limited to:</p>

            <p><font color="red">&bull; (New) AI and Data analysis over extreme-scale scientific datasets</font></p>

            <p><font color="red">&bull; (New) Large-scale code coupling and workflow</font></p>

            <p><font color="red">&bull; (New) Compressed sensing</font></p>

            <p>&bull; Application use-cases which can drive the community to develop MiniApps</p>

            <p>&bull; Data reduction methods for scientific data including:</p>

            <p>&ensp;&ensp;&deg; Data deduplication methods</p>

            <p>&ensp;&ensp;&deg; Motif-specific methods (structured and unstructured meshes, particles, tensors, ...)</p>

            <p>&ensp;&ensp;&deg; Optimal design of data reduction methods</p>

            <p>&ensp;&ensp;&deg; Methods with accuracy guarantees</p>

            <p>&bull; Metrics to measure reduction quality and provide feedback</p>

            <p>&bull; Data analysis and visualization techniques that take advantage of the reduced data</p>

            <p>&bull; Hardware and data co-design</p>

            <p>&bull; Accuracy and performance trade-offs on current and emerging hardware</p>

            <p>&bull; New programming models for managing reduced data</p>

            <p>&bull; Runtime systems for data reduction</p>
            <!--<div class="row">-->
            <!--{% for post in site.data.twenty_17.speakers %}-->
                <!--<div class="col-md-4 col-sm-6 speakers-item">-->
                    <!--<a href="#{{ post.name }}" class="speakers-link" data-toggle="modal">-->
                        <!--<div class="speakers-hover">-->
                            <!--<div class="speakers-hover-content">-->
                                <!--<i class="fa fa-plus fa-3x"></i>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<img src="../css/2017_style/img/speaker/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">-->
                    <!--</a>-->
                    <!--<div class="speakers-caption">-->
                        <!--<h4>{{ post.title }}</h4>-->
                        <!--<p class="text-muted">{{ post.subtitle }}</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--{% endfor %}-->
            <!--</div>-->
            <!--<p>Visit 2016's page.</p>-->
            <!--<center><a href="/2016" class="page-scroll btn btn-xl">Visit Now</a></center>-->
        </div>
    </section>