<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

  {% include 2017_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><font size="12"> The 7th International Workshop on Data Analysis and Reduction for Big Scientific Data (DRBSD-7)</font><br></div>
                <div class="intro-lead-in">Nov 14th, 2021</div>
                <div class="intro-lead-in">St. Louis, MO</div>
                <!--<div class="intro-lead-in">In cooperation with TCHPC: Technical Consortium on High Performance Computing</div>-->
                <!--<div class="intro-lead-in">Held in conjunction with SC21: The International Conference for High Performance Computing, Networking, Storage and Analysis</div>-->
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/abstract.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/prior.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
